{% extends 'base.html.twig' %}

{% block title %}Guilde Agora| Application{% endblock %}

{% block video %}
   {{ include('_partials/_banner-esport.html.twig') }}    
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Postuler pour {{team.name}}</h4>

    {{form_start(form)}}
    {{form_widget(form)}}
    <button type="submit" class="btn btn-success">Valider l'application</button>
    {{form_end(form)}}
</div>

{% endblock %}
